/**
 * Main
 */

 .main {
  min-height: calc(100vh - 18rem);

  &__header {
    width: min(100%, 768px);
    margin: 0 auto;
    padding: 0 clamp(0.75rem, 2%, 1.5rem);
  }

  &__title {
    &::after {
      content: "✶";
      color: theme-color("secondary");
      font-size: 1.25em;
      margin-left: space("x-small");
    }

    & > span {
      font-family: "Cormorant Garamond", serif;
    }
  }

  &__list {
    list-style-type: none;
    margin: space("medium") 0;
    padding: 0;
  }

  &__listItem {
    &::before {
      content: '✶';
      padding-right: 0.5em;
      color: color-active("primary");
      font-size: 1.5em;
    }

    &--spec {
      color: theme-color("dark");
      font-size: 0.875rem;
      letter-spacing: var(--heading-letter-spacing);
  
      &::before {
        content: "―";
        padding-right: 0.5em;
        color: theme-color("secondary");
        font-weight: 700;
        margin-right: space(1);
      }
    }
  }
}
